@charset "UTF-8";

.input-group-addon {
    min-width:120px;
    text-align:left;
}

#googleMapSection {
	display:none;
}

#viewRequestBtn {
	display:none;
}

#viewFootprintBtn {
	display:none;
}

#deleteGeoFenceBtn {
	display:none;
}

#editGeoFenceBtn {
	display:none;
}

#multiAddBody {
	display:none;
}

#multiAddFooter {
	display:none;
}

#loadingWindow {
  keyboard: false;
}

.alert {
	display:none;
}

#loader {
	display: none; 
	margin-left: auto; 
	margin-right: auto; 
	width: 100px; 
	height: 100px;
}